:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: ;
}